.wrapper {
    width: 800px;
    border: solid 10px teal;
    padding: 20px;
    margin: 25px auto;
}

.Header {background-color: yellow; padding: 20px;}
.Nav    {background-color: salmon; padding: 20px;}
.Main   {background-color: slateblue; padding: 20px;}
.Footer {background-color: turquoise; padding: 20px;}